body {
  margin: 0;
  padding: 0;
  background: #fdfdfd -200px 30% url("../images/man.gif") fixed no-repeat;
}
.container {
  box-sizing: border-box;
  background-color: #fefefe;
  border: 3px solid #999;
  border-radius: 20px;
  width: 60%;
  margin: 1% auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", Monaco, "楷体", "Noto Sans Mono";
  line-height: 1.5;
}
h2 {
  color: #668bb6;
}
h2:before {
  content: "# ";
}
h3 {
  color: #c396d8;
}
h3:before {
  content: "## ";
}
h4 {
  color: #6fbfb1;
}
h4:before {
  content: "### ";
}
h5 {
  color: #e77724;
}
h5:before {
  content: "#### ";
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.header a {
  text-decoration: none;
  color: #800080;
}
.header .logo img {
  width: 60px;
}
.header .nav {
  font-size: 1.4em;
}
.header .nav .menu {
  display: flex;
}
.header .nav .menu .menu-item {
  list-style: none;
  margin: 0 12%;
  transition: all 0.3s linear;
}
.header .nav .menu .menu-item:hover {
  transform: scale(1.2);
}
.header .nav .menu .menu-item .menu-item-link:hover {
  color: #4169e1;
}
.main {
  margin: 0;
  padding: 0;
}
.post {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.post:hover {
  transform: scale(1.03);
  background-color: #fff;
}
.post .post-title {
  font-size: 1.2em;
}
.post .post-meta {
  color: #999;
}
.post a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
}
.post a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.post .post-content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #1e90ff;
  transition: all 0.3s linear;
  margin: 3% 0;
}
.post .post-content img:hover {
  transform: scale(1.01);
}
.post .post-content blockquote {
  border-left: 2px solid #1e90ff;
  margin: 0;
}
.post .post-content blockquote p,
.post .post-content blockquote footer {
  margin-left: 3%;
}
.post .hljs {
  border: 2px solid #eee;
  border-radius: 9px;
  padding: 3% 4%;
}
.post blockquote code,
.post p code,
.post li code,
.post th code,
.post td code {
  color: #4682b4;
  font-size: 16px;
}
.footer {
  margin: 0 auto;
}
.footer a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
  color: #800080;
}
.footer a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.article {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
}
.article .article-meta {
  color: #999;
  border-bottom: 3px solid #eee;
  padding-bottom: 10px;
  padding: 16px;
  border-radius: 10px;
}
.article-content a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
}
.article-content a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.article-content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #1e90ff;
  transition: all 0.3s linear;
  margin: 3% 0;
}
.article-content img:hover {
  transform: scale(1.01);
}
.article-content blockquote {
  border-left: 2px solid #1e90ff;
  margin: 0;
}
.article-content blockquote p,
.article-content blockquote footer {
  margin-left: 3%;
}
.article-content .hljs {
  border: 2px solid #eee;
  border-radius: 9px;
  padding: 3% 4%;
  font-family: Consolas, Monaco, "楷体", "Noto Sans Mono";
  font-size: 15px;
}
.article-content blockquote code,
.article-content p code,
.article-content li code,
.article-content th code,
.article-content td code {
  color: #4682b4;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #add8e6;
  padding: 0.2% 2%;
}
table th {
  background: #add8e6;
}
table tr:nth-child(even) {
  background: #e5f9ff;
}
.totop {
  background: rgba(0,0,0,0.3);
  padding: 5px 9px;
  border-radius: 2px;
  position: fixed;
  bottom: 100px;
  left: 8%;
  color: #fff;
  transition: 0.1s all linear;
  visibility: hidden;
}
.totop:hover {
  background: rgba(0,0,0,0.6);
}
.archive {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
}
.post-archive {
  padding: 0;
  margin: 0 4%;
  list-style-type: none;
}
.post-item {
  background-color: #fff;
  border-bottom: 3px solid #eee;
  border-radius: 20px;
  transition: all 0.3s linear;
  padding: 0 1%;
}
.post-item:hover {
  transform: scale(1.03);
}
.post-item .post-date {
  color: #999;
}
.post-item:last-child {
  margin-bottom: 2%;
}
.post-title {
  display: inline-block;
  width: 75%;
  padding: 2.5%;
  padding-left: 5%;
  text-decoration: none;
  color: #333;
  font-size: 1.3em;
  margin-left: 1%;
}
.post-title:hover {
  color: #4169e1;
}
.page-nav .page-number {
  margin: 0 1%;
}
.search {
  width: 30%;
  height: 18px;
  margin-top: 1px;
  padding: 0;
  font-family: inherit;
  border: 2px solid transparent;
  border-bottom: 2px solid #d3d3d3;
  border-radius: 2px;
  opacity: 0.65;
  background: none;
}
.search:hover {
  border-bottom: 2px solid #d3d3d3;
  opacity: 1;
}
.search:focus {
  outline: none;
  border-bottom: 2px solid #1eaeff;
}
#search-form .fa-times {
  display: none;
  padding: 1px 0.7em;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
  cursor: pointer;
  color: #808080;
  border-radius: 10%;
}
#search-form .fa-times:active {
  background: #d3d3d3;
}
#search-form .fa-times:hover {
  zoom: 1.1;
  padding: 1px 0.6em;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
#local-search-result {
  margin: auto 0% auto -4%;
  font-size: 1em;
  text-align: left;
  word-break: break-all;
}
#local-search-result ul {
  list-style: none;
}
#local-search-result ul.search-result-list li:hover {
  font-weight: normal;
}
#local-search-result li {
  margin: 0.5em auto;
  border-bottom: 2px solid #eee;
}
#local-search-result .search-result-list li {
  transition: 0.3s all linear;
}
#local-search-result .search-result-list li:hover {
  padding-left: 2%;
  list-style: circle;
}
#local-search-result a.search-result-title {
  line-height: 1.2;
  font-weight: bold;
  color: #708090;
}
#local-search-result p.search-result {
  margin: 0.4em auto;
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  font-size: 0.8em;
  text-align: justify;
  color: #808080;
}
#local-search-result em.search-keyword {
  color: #f58e90;
  border-bottom: 1px dashed #f58e90;
  font-weight: bold;
  font-size: 0.85em;
}
p.no-result {
  display: none;
  margin: 2em 0 2em 6%;
  padding-bottom: 0.5em;
  text-align: left;
  color: #808080;
  font-family: font-serif serif;
}
@media screen and (max-width: 1100px) {
  body {
    background: #fff;
  }
  .container {
    width: 100%;
  }
  .just-a-temp {
    display: block;
  }
  .post-title {
    width: 76%;
  }
  .totop {
    display: none;
  }
}
